<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genius Comptabilité</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" />
  </head>
  <body>
    <section id="page">
      <header>
        {% block header %} {% endblock %}
      </header>
      <section class="container mt-3">
        {% block content %}{% endblock %}
      </section>

      <footer class="bg-light p-3">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <address>
                <strong>Email:</strong> <a href="mailto:example@example.com">example@example.com</a> <br>
                <strong>Phone:</strong>  <a href="tel:+123-456-7890">123-456-7890</a>
              </address>
            </div>
          </div>
        </div>
      </footer>

    </section>
    <!-- Sidebar Menu (right) -->

    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#">Documentation fiscale</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Technologie (nouveau collaborateur)?</a></li>
        <li class="nav-item"><a class="nav-link" href="#">La vie du cabinet</a></li>
      </ul>
    </nav>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      Toggle Menu
    </button>

    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
